*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../https://assets.nflxext.com/ffe/siteui/vlv3/862cc171-8df5-418c-886f-2aaf767ae159/2e1414e3-cdae-473f-af07-31f9b74741f6/IN-en-20230130-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 5vw;
    padding-top: 5px;
    align-items: center;
}
.logo{
    width: 12%;
}
.btn{
    padding: 8px 15px;
    color: white;
    background-color: red;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
select{
    margin-left: 70%;
    padding: 8px; 
    background: transparent;
    color: white;
}
select:hover{
    color: black;
}
.content{
    color: white;
    position: absolute;
    margin-top: 8%;
    margin-left: 30%;
}
.content h1{
    font-size: 50px;
    letter-spacing: 1px;
}
.content h2{
    font-size: 20px;
    letter-spacing: 1px;
}
.mail{
    width: 100%;
    height: fit-content;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.mail input{
    outline: none;
    border: none;
    padding: 10px 12px;
    size: 1cm;
}
.mail a{
    height: fit-content;
    background-color: red;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
}
.features{
    padding: 50px 12%;
    font-size: 22px;
    color: white;
}
.rows{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    color: white;
}
.faq h2{
    font-weight: 500;
    font-size: 40px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 10px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .Answer{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}
.accordion input[type="radio"]:checked + label +.Answer{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .mail{
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small{
    font-size: 13px;
}
.footer{
    padding: 50px 15% 10px;
    border-top:  6px solid #333;
    color: #777;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
